In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
import seaborn as sns

In [2]:
# load dataset
df_order = pd.read_csv("../dataset/order.csv")
df_group = pd.read_csv("../dataset/group.csv")
df_airline = pd.read_csv("../dataset/airline.csv")
df_day_schedule = pd.read_csv("../dataset/day_schedule.csv")
df_train = pd.read_csv("../dataset/training-set.csv")
df_test = pd.read_csv("../dataset/testing-set.csv")

In [3]:
print(df_order.shape)
print(df_group.shape)
print(df_airline.shape)
print(df_day_schedule.shape)
print(df_train.shape)
print(df_test.shape)

(300000, 7)
(35292, 8)
(74659, 6)
(218251, 3)
(146620, 2)
(150400, 2)

In [4]:
# date Conversion

month = {'Jan': '01', 'Feb': '02' , 'Mar':'03' ,'Apr': '04',
'May': '05', 'Jun': '06' , 'Jul': '07' , 'Aug':'08',
'Sep':'09', 'Oct':'10' , 'Nov':'11', 'Dec':'12' }

def Convert_Date(x):
    Year='20'+x[-2:]
    Month=month[x[-6:-3]]
    Day=x[:-7]
    return pd.to_datetime(Year+'-'+Month+'-'+Day)

# group data

df_group['Begin_Date']=df_group.begin_date.apply(lambda x: Convert_Date(x))
df_group['SubLine']= df_group.sub_line.apply(lambda x: int(x[14:]))
df_group['Area']= df_group.area.apply(lambda x: int(x[11:]))
group_used_cols=['group_id','Begin_Date','days','Area','SubLine','price']
df_order_1 = df_order.merge(df_group[group_used_cols], on='group_id')

# for order data

df_order_1['Order_Date']=df_order_1.order_date.apply(lambda x: Convert_Date(x))
df_order_1['Source_1']= df_order_1.source_1.apply(lambda x: int(x[11:]))
df_order_1['Source_2']= df_order_1.source_2.apply(lambda x: int(x[11:]))
df_order_1['Unit']= df_order_1.unit.apply(lambda x: int(x[11:]))
df_order_1['Begin_Date']=pd.to_datetime(df_order_1['Begin_Date'])
df_order_1['Order_Date']=pd.to_datetime(df_order_1['Order_Date'])
df_order_1['PreDays']=(df_order_1['Begin_Date']-df_order_1['Order_Date']).dt.days
df_order_1['Begin_Date_Weekday']= df_order_1['Begin_Date'].dt.dayofweek
df_order_1['Order_Date_Weekday']= df_order_1['Order_Date'].dt.dayofweek
df_order_1['Return_Date_Weekday']= (df_order_1['Begin_Date'].dt.dayofweek+df_order_1['days'])%7
order_used_columns=['order_id', 'group_id','Order_Date', 'Source_1', 'Source_2', 'Unit',
'people_amount', 'Begin_Date', 'days', 'Area', 'SubLine', 'price',
'PreDays','Begin_Date_Weekday', 'Order_Date_Weekday', 'Return_Date_Weekday']
df_order_2=df_order_1[order_used_columns]

# train/test data

df_train_1=df_train.merge(df_order_2,on='order_id')
df_test_1=df_test.merge(df_order_2,on='order_id')

In [5]:
print(df_order_1.shape,'\n\n')
print(df_order_1.columns,'\n\n')

print(df_order_2.shape,'\n\n')
print(df_order_2.columns,'\n\n')

# print(df_order_1.head())
# print(df_order_2.head())

(299995, 20)


Index(['order_id', 'group_id', 'order_date', 'source_1', 'source_2', 'unit',
       'people_amount', 'Begin_Date', 'days', 'Area', 'SubLine', 'price',
       'Order_Date', 'Source_1', 'Source_2', 'Unit', 'PreDays',
       'Begin_Date_Weekday', 'Order_Date_Weekday', 'Return_Date_Weekday'],
      dtype='object')


(299995, 16)


Index(['order_id', 'group_id', 'Order_Date', 'Source_1', 'Source_2', 'Unit',
       'people_amount', 'Begin_Date', 'days', 'Area', 'SubLine', 'price',
       'PreDays', 'Begin_Date_Weekday', 'Order_Date_Weekday',
       'Return_Date_Weekday'],
      dtype='object')

In [6]:
print(df_train_1.shape)
print(df_train_1.head())

(146620, 17)
   order_id  deal_or_not  group_id Order_Date  Source_1  Source_2  Unit  \
0     41571            1     53481 2017-03-14         1         1     4
1     64125            1     53481 2017-03-27         2         1     5
2     76131            0     53481 2017-04-19         2         2     6
3    238671            0     53481 2017-04-19         2         2     6
4     93305            1     41766 2017-05-03         2         1     5

   people_amount Begin_Date  days  Area  SubLine   price  PreDays  \
0              4 2017-05-17    12     1        1  112900       64
1              1 2017-05-17    12     1        1  112900       51
2              2 2017-05-17    12     1        1  112900       28
3              2 2017-05-17    12     1        1  112900       28
4              1 2017-07-12    12     1        1  126900       70

   Begin_Date_Weekday  Order_Date_Weekday  Return_Date_Weekday
0                   2                   1                    0
1                   2                   0                    0
2                   2                   2                    0
3                   2                   2                    0
4                   2                   2                    0

In [7]:
print(df_test_1.shape)
print(df_test_1.head())

(150400, 17)
   order_id  deal_or_not  group_id Order_Date  Source_1  Source_2  Unit  \
0    136100          NaN     63695 2017-01-05         1         1     1
1    140370          NaN     63695 2016-11-09         1         1     2
2    211009          NaN     63695 2017-01-20         1         1     3
3      5045          NaN     54305 2017-01-20         1         1     7
4     37230          NaN     54305 2017-05-08         2         3     6

   people_amount Begin_Date  days  Area  SubLine   price  PreDays  \
0              2 2017-03-22    12     1        1  106900       76
1              1 2017-03-22    12     1        1  106900      133
2              2 2017-03-22    12     1        1  106900       61
3              6 2017-06-21    12     1        1  115900      152
4              2 2017-06-21    12     1        1  115900       44

   Begin_Date_Weekday  Order_Date_Weekday  Return_Date_Weekday
0                   2                   3                    0
1                   2                   2                    0
2                   2                   4                    0
3                   2                   4                    0
4                   2                   0                    0

In [8]:
# save data to csv files 

df_train_1.to_csv("df_train_1.csv")
df_test_1.to_csv("df_test_1.csv")

In [9]:
# read data from the newly saved files

df_train_2 = pd.read_csv("df_train_1.csv")
df_test_2 = pd.read_csv("df_test_1.csv")

In [10]:
# check the newly imported data

df_train_2

,Unnamed: 0,order_id,deal_or_not,group_id,Order_Date,Source_1,Source_2,Unit,people_amount,Begin_Date,days,Area,SubLine,price,PreDays,Begin_Date_Weekday,Order_Date_Weekday,Return_Date_Weekday
0,0,41571,1,53481,2017-03-14,1,1,4,4,2017-05-17,12,1,1,112900,64,2,1,0
1,1,64125,1,53481,2017-03-27,2,1,5,1,2017-05-17,12,1,1,112900,51,2,0,0
2,2,76131,0,53481,2017-04-19,2,2,6,2,2017-05-17,12,1,1,112900,28,2,2,0
3,3,238671,0,53481,2017-04-19,2,2,6,2,2017-05-17,12,1,1,112900,28,2,2,0
4,4,93305,1,41766,2017-05-03,2,1,5,1,2017-07-12,12,1,1,126900,70,2,2,0
5,5,158994,1,41766,2017-04-10,1,1,10,4,2017-07-12,12,1,1,126900,93,2,0,0
6,6,180094,1,41766,2017-04-17,1,1,11,5,2017-07-12,12,1,1,126900,86,2,0,0
7,7,47901,0,41766,2017-04-10,1,1,12,2,2017-07-12,12,1,1,126900,93,2,0,0
8,8,102132,0,41766,2017-04-24,2,1,6,4,2017-07-12,12,1,1,126900,79,2,0,0
9,9,172968,0,41766,2017-06-13,1,1,13,3,2017-07-12,12,1,1,126900,29,2,1,0
10,10,270498,0,41766,2017-06-12,2,3,6,1,2017-07-12,12,1,1,126900,30,2,0,0
11,11,295725,0,41766,2017-05-18,1,1,14,4,2017-07-12,12,1,1,126900,55,2,3,0
12,12,6905,0,44047,2017-09-21,1,1,1,6,2017-11-22,12,1,1,116900,62,2,3,0
13,13,68232,0,44047,2017-09-06,2,1,6,2,2017-11-22,12,1,1,116900,77,2,2,0
14,14,273284,0,44047,2017-08-29,1,1,22,2,2017-11-22,12,1,1,116900,85,2,1,0
15,15,281808,0,44047,2017-09-09,1,1,26,2,2017-11-22,12,1,1,116900,74,2,5,0
16,16,328929,0,44047,2017-08-29,2,1,6,2,2017-11-22,12,1,1,116900,85,2,1,0
17,17,186141,0,63785,2016-11-07,2,1,6,2,2017-01-07,10,2,1,70900,61,5,0,1
18,18,48586,0,16879,2016-11-29,1,1,33,1,2017-01-14,7,3,1,40900,46,5,1,5
19,19,117203,0,16879,2016-11-18,1,1,12,4,2017-01-14,7,3,1,40900,57,5,4,5
20,20,179630,0,16879,2016-11-16,1,1,27,2,2017-01-14,7,3,1,40900,59,5,2,5
21,21,207504,0,16879,2016-11-19,1,1,27,1,2017-01-14,7,3,1,40900,56,5,5,5
22,22,165194,0,35554,2016-12-12,1,1,1,2,2017-01-19,10,2,1,64900,38,3,0,6
23,23,46742,1,52192,2016-10-12,1,1,32,1,2017-01-20,10,2,1,65900,100,4,2,0
24,24,97956,1,52192,2016-11-04,1,1,48,2,2017-01-20,10,2,1,65900,77,4,4,0
25,25,133757,1,52192,2016-12-28,2,1,5,1,2017-01-20,10,2,1,65900,23,4,2,0
26,26,136534,1,52192,2016-10-12,1,1,32,2,2017-01-20,10,2,1,65900,100,4,2,0
27,27,736,0,52192,2016-10-19,1,1,45,2,2017-01-20,10,2,1,65900,93,4,2,0
28,28,862,0,52192,2016-10-20,1,1,19,1,2017-01-20,10,2,1,65900,92,4,3,0
29,29,1933,0,52192,2016-10-10,1,1,1,5,2017-01-20,10,2,1,65900,102,4,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146590,146590,53341,0,29155,2017-07-31,1,1,1,4,2017-10-29,11,132,22,54900,90,6,0,3
146591,146591,57334,0,29155,2017-07-31,1,1,1,2,2017-10-29,11,132,22,54900,90,6,0,3
146592,146592,95581,0,29155,2017-07-26,2,3,6,2,2017-10-29,11,132,22,54900,95,6,2,3
146593,146593,146389,0,29155,2017-08-02,1,1,1,6,2017-10-29,11,132,22,54900,88,6,2,3
146594,146594,156563,0,29155,2017-08-02,1,1,84,2,2017-10-29,11,132,22,54900,88,6,2,3
146595,146595,280990,0,29155,2017-08-01,2,1,6,2,2017-10-29,11,132,22,54900,89,6,1,3
146596,146596,294498,0,29155,2017-07-06,1,1,72,6,2017-10-29,11,132,22,54900,115,6,3,3
146597,146597,322817,0,29155,2017-07-28,1,1,73,3,2017-10-29,11,132,22,54900,93,6,4,3
146598,146598,337519,0,29155,2017-07-31,1,1,90,2,2017-10-29,11,132,22,54900,90,6,0,3
146599,146599,46210,1,63937,2017-07-18,2,3,6,4,2017-10-31,10,132,22,37900,105,1,1,4
146600,146600,76116,1,63937,2017-09-28,2,1,77,1,2017-10-31,10,132,22,37900,33,1,3,4
146601,146601,93964,1,63937,2017-08-08,1,1,1,2,2017-10-31,10,132,22,37900,84,1,1,4
146602,146602,100257,1,63937,2017-07-25,2,3,3,8,2017-10-31,10,132,22,37900,98,1,1,4
146603,146603,34100,0,63937,2017-08-04,1,4,1,2,2017-10-31,10,132,22,37900,88,1,4,4
146604,146604,69357,0,63937,2017-07-31,1,1,16,2,2017-10-31,10,132,22,37900,92,1,0,4
146605,146605,132679,0,63937,2017-08-01,2,1,3,10,2017-10-31,10,132,22,37900,91,1,1,4
146606,146606,155835,0,63937,2017-07-29,2,2,6,1,2017-10-31,10,132,22,37900,94,1,5,4
146607,146607,184373,0,63937,2017-07-31,1,1,8,2,2017-10-31,10,132,22,37900,92,1,0,4
146608,146608,233680,0,63937,2017-07-21,2,2,6,2,2017-10-31,10,132,22,37900,102,1,4,4
146609,146609,278113,0,63937,2017-07-30,1,1,89,6,2017-10-31,10,132,22,37900,93,1,6,4
146610,146610,302767,0,63937,2017-07-27,1,1,10,3,2017-10-31,10,132,22,37900,96,1,3,4
146611,146611,331671,0,63937,2017-07-31,1,1,8,2,2017-10-31,10,132,22,37900,92,1,0,4
146612,146612,332699,0,63937,2017-08-07,1,1,1,2,2017-10-31,10,132,22,37900,85,1,0,4
146613,146613,71517,0,54855,2017-01-13,1,1,85,2,2017-04-09,9,140,23,95900,86,6,4,1
146614,146614,261850,0,54855,2017-01-11,1,1,81,1,2017-04-09,9,140,23,95900,88,6,2,1
146615,146615,182267,0,5689,2017-02-05,1,1,21,1,2017-05-07,9,140,23,97900,91,6,6,1
146616,146616,10779,0,54671,2017-06-29,1,4,1,1,2017-08-09,16,140,23,178000,41,2,3,4
146617,146617,68010,0,54671,2017-06-20,1,1,19,4,2017-08-09,16,140,23,178000,50,2,1,4
146618,146618,183731,0,10490,2017-09-12,1,1,63,1,2017-11-01,17,140,23,186000,50,2,1,5
146619,146619,198286,0,5249,2017-07-11,1,1,56,1,2017-10-11,16,140,23,178000,92,2,1,4